<!DOCTYPE html>
<html>
<head>
    <title>Neha's Awesome AI Counselor LLM with RAG</title>
    <script>
        document
            .addEventListener("DOMContentLoaded",
                function () {

                    // Code to be executed when the DOM is ready
                    var textArea = document.getElementById("text-area");
                    textArea.scrollTop = textArea.scrollHeight;  // Scroll to the bottom
                });

    </script>
</head>
<body>
    <form method="POST">
        <div align="center">
            <h2>Neha's AI Counselor LLM with RAG</h2>
            <textarea id="text-area" name="text" rows="30" cols="150" style="background-color:#90ee90"> {% if response %}
                {{ response }}
                {% endif %}
            </textarea>
            <br><br><br>
            <input name="question" type="text" size="100">
            <input type="submit" value="Submit">
        </div>
    </form>

</body>
</html>
